# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
backend.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
terraform/paysaxas.pub

# Ansible
*.retry
ansible/inventory.ini

# Secrets
*.pem
*.key
.env
kubeconfig*.yaml
kubeconfig

# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# IDE
.idea/
.vscode/

# OS
.DS_Store
