# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
backend.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Ansible
*.retry
ansible/inventory.ini

# Secrets
*.pem
*.key
.env

# OS
.DS_Store
