---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: paysaxas-db
  namespace: paysaxas
  labels:
    app.kubernetes.io/name: paysaxas-db
    app.kubernetes.io/part-of: paysaxas
spec:
  instances: 1
  imageName: ghcr.io/cloudnative-pg/postgresql:16.4

  enableSuperuserAccess: false

  postgresql:
    parameters:
      log_connections: "on"
      log_disconnections: "on"
      log_statement: "ddl"
    pg_hba:
      - hostssl all all all scram-sha-256

  bootstrap:
    initdb:
      database: paysaxas
      owner: paysaxas

  storage:
    size: 10Gi

  backup:
    barmanObjectStore:
      destinationPath: "s3://{{ s3_backup_bucket }}/paysaxas-db/"
      endpointURL: "https://s3.eu-central-1.amazonaws.com"
      s3Credentials:
        accessKeyId:
          name: aws-backup-creds
          key: ACCESS_KEY_ID
        secretAccessKey:
          name: aws-backup-creds
          key: ACCESS_SECRET_KEY
      wal:
        compression: gzip
        maxParallel: 2
      data:
        compression: gzip
        jobs: 2
    retentionPolicy: "30d"

---
apiVersion: postgresql.cnpg.io/v1
kind: ScheduledBackup
metadata:
  name: paysaxas-db-backup
  namespace: paysaxas
spec:
  schedule: "0 0 3 * * *"
  backupOwnerReference: self
  cluster:
    name: paysaxas-db
  immediate: true

---
apiVersion: postgresql.cnpg.io/v1
kind: Pooler
metadata:
  name: paysaxas-db-pooler
  namespace: paysaxas
spec:
  cluster:
    name: paysaxas-db
  instances: 1
  type: rw
  pgbouncer:
    poolMode: transaction
    parameters:
      default_pool_size: "20"
